{% include 'header.html' %}
<body class="text-center">
<p>{{ error }}</p>
<form class="form-signin" action="{{ url_for('register') }}" method="post">
      <img class="mb-4" src="../static/images/shock.jpg" alt="shocked creature" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Create a new account</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">

      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      <p class="mt-5 mb-3 text-muted">&copy; {{ year }}</p>
    </form>

{% extends 'footer.html' %}